In [1]:
import os
import re
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

In [24]:
date_strings = ["September 1 2021", "October 1 2021", "November 1 2021", "December 1 2021", 
                "January 1 2022", "February 1 2022", "March 1 2022", "April 1 2022", "May 1 2022", "June 1 2022",
               "July 1 2022", "August 1 2022", "September 1 2022", "October 1 2022", "November 1 2022", "December 1 2022",
               "January 1 2023", "February 1 2023", "March 1 2023", "April 1 2023", "May 1 2023", "June 1 2023",
               "July 1 2023", "August 1 2023", "September 1 2023", "October 1 2023", "November 1 2023", "December 1 2023",
               "January 1 2024", "February 1 2024", "March 1 2024", "April 1 2024", "May 1 2024", "June 1 2024",
               "July 1 2024", "August 1 2024", "September 1 2024", "October 1 2024", "November 1 2024", "December 1 2024",]

In [25]:
dates_df = pd.DataFrame(date_strings)
dates_df = dates_df.rename({0:"date"}, axis = 1)

In [26]:
# Convert to datetime objects
dates_df["datetime"] = [datetime.strptime(date, "%B %d %Y") for date in dates_df["date"]]

In [27]:
# Function to convert date to decimal year
def to_decimal_year(date):
    year = date.year
    start_of_year = datetime(year, 1, 1)
    end_of_year = datetime(year + 1, 1, 1)
    year_length = (end_of_year - start_of_year).days
    day_of_year = (date - start_of_year).days
    return year + day_of_year / year_length

In [28]:
# Add the decimal date for each datetime
dates_df["decimal_date"] = dates_df["datetime"].apply(to_decimal_year)

In [29]:
print(dates_df)

                date   datetime  decimal_date
0   September 1 2021 2021-09-01   2021.665753
1     October 1 2021 2021-10-01   2021.747945
2    November 1 2021 2021-11-01   2021.832877
3    December 1 2021 2021-12-01   2021.915068
4     January 1 2022 2022-01-01   2022.000000
5    February 1 2022 2022-02-01   2022.084932
6       March 1 2022 2022-03-01   2022.161644
7       April 1 2022 2022-04-01   2022.246575
8         May 1 2022 2022-05-01   2022.328767
9        June 1 2022 2022-06-01   2022.413699
10       July 1 2022 2022-07-01   2022.495890
11     August 1 2022 2022-08-01   2022.580822
12  September 1 2022 2022-09-01   2022.665753
13    October 1 2022 2022-10-01   2022.747945
14   November 1 2022 2022-11-01   2022.832877
15   December 1 2022 2022-12-01   2022.915068
16    January 1 2023 2023-01-01   2023.000000
17   February 1 2023 2023-02-01   2023.084932
18      March 1 2023 2023-03-01   2023.161644
19      April 1 2023 2023-04-01   2023.246575
20        May 1 2023 2023-05-01   2023.328767
21       June 1 2023 2023-06-01   2023.413699
22       July 1 2023 2023-07-01   2023.495890
23     August 1 2023 2023-08-01   2023.580822
24  September 1 2023 2023-09-01   2023.665753
25    October 1 2023 2023-10-01   2023.747945
26   November 1 2023 2023-11-01   2023.832877
27   December 1 2023 2023-12-01   2023.915068
28    January 1 2024 2024-01-01   2024.000000
29   February 1 2024 2024-02-01   2024.084699
30      March 1 2024 2024-03-01   2024.163934
31      April 1 2024 2024-04-01   2024.248634
32        May 1 2024 2024-05-01   2024.330601
33       June 1 2024 2024-06-01   2024.415301
34       July 1 2024 2024-07-01   2024.497268
35     August 1 2024 2024-08-01   2024.581967
36  September 1 2024 2024-09-01   2024.666667
37    October 1 2024 2024-10-01   2024.748634
38   November 1 2024 2024-11-01   2024.833333
39   December 1 2024 2024-12-01   2024.915301

In [ ]:
def month(df, column):
    df["rounded"] = df[column].round(6)

    def get_month(y):
        if y >= 2021.832877: 
            return "november"
        elif 2021.915068 <= y < 2022.000000: 
            return "december"
        elif 2022.000000 <= y < 2022.084932: 
            return "january"
        elif 2022.084932 <= y < 2022.161644:
            return "february"
        elif 2022.161644 <= y < 2022.246575:
            return "march"
        elif 2022.246575 <= y < 2022.328767:
            return "april"
        elif 2022.328767 <= y < 2022.413699:
            return "may"
        elif 2022.413699 <= y < 2022.495890:
            return "june"
        elif 2022.495890 <= y < 2022.580822:
            return "july"
        elif 2022.580822 <= y < 2022.665753:
            return "august"
        elif 2022.665753 <= y < 2022.747945:
            return "september"
        elif 2022.747945 <= y < 2022.832877: 
            return "october"
        elif 2022.832877 <= y < 2022.915068:
            return "november"
        elif 2022.915068 <= y < 2023.000000:
            return "december"
        elif 2023.000000 <= y < 2023.084932:
            return "january"
        elif 2023.084932 <= y < 2023.161644:
            return "february"
        elif 2023.161644 <= y < 2023.246575:
            return "march"
        elif 2023.246575 <= y < 2023.328767:
            return "april"
        elif 2023.328767 <= y < 2023.413699:
            return "may"
        elif 2023.413699 <= y < 2023.495890:
            return "june"
        elif 2023.495890 <= y < 2023.580822:
            return "july"
        elif 2023.580822 <= y < 2023.665753:
            return "august"
        elif 2023.665753 <= y < 2023.747945:
            return "september"
        elif 2023.747945 <= y < 2023.832877:
            return "october"
        elif 2023.832877 <= y < 2023.915068:
            return "november"
        elif 2023.915068 <= y < 2024.000000:
            return "december"
        elif 2024.000000 <= y < 2024.084699:
            return "january"
        elif 2024.084699 <= y < 2024.163934:
            return "february"
        elif 2024.163934 <= y < 2024.248634:
            return "march"
        elif 2024.248634 <= y < 2024.330601:
            return "april"
        elif 2024.330601 <= y < 2024.415301:
            return "may"
        elif 2024.415301 <= y < 2024.497268:
            return "june"
        elif 2024.497268 <= y < 2024.581967:
            return "july"
        elif 2024.581967 <= y < 2024.666667:
            return "august"
        elif 2024.666667 <= y < 2024.748634:
            return "september"
        elif 2024.748634 <= y < 2024.833333:
            return "october"
        elif 2024.833333 <= y < 2024.915301:
            return "november"
        elif y >= 2024.915301:
            return "december"
        else:
            return "unknown"

    df["month"] = df["rounded"].apply(get_month)
    return df.drop("year_rounded", axis=1)